#AMBIENTE
NODE_ENV=development

# API
PORT=3000
API_URL=http://localhost:3000

# DATABASE
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nest_db

#AUTH
JWT_SECRET=super_secret_key

#EMAIL
MAIL_FROM="SkillBox <onboarding@.dev>"
MAIL_TO=
MAIL_API_KEY=